:root {
    --primary-font: 'Poppins', sans-serif;

    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --color-text: #C0C0C0;

    --background-color: #000000;
    --background-header: #181818;

    --background-form: #F9FAFB;
    --border-form: 2px solid #E5E7EB;
}