:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --color-text: #C0C0C0;
  --background-color: #000000;
  --background-header: #181818;
  --background-form: #F9FAFB;
  --border-form: 2px solid #E5E7EB;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  min-width: 143px;
  min-height: 42px;
  font-family: inherit;
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: var(--secondary-color);
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 14px;
  border: none;
}

.circle {
  stroke: currentColor;
}

.icon {
  fill: currentColor;
}

.icon__text {
  margin-left: 6px;
  font-size: 12px;
  line-height: 1;
  color: currentColor;
}

body {
  font-family: var(--primary-font);
  background: var(--background-color);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 120px;
  padding-right: 120px;
  background: var(--background-header);
  border-radius: 0px;
  max-width: 1400px;
}
.header__logo {
  padding-top: 30px;
  padding-bottom: 29px;
  margin-left: 152px;
  margin-right: auto;
  color: var(--primary-color);
}
.header__logo--icon {
  fill: currentColor;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.header .nav__item:first-child {
  margin-right: 56px;
}
.header .nav__item:last-child {
  margin-right: 31px;
}
.header .nav__link {
  display: inline-block;
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 13px;
  line-height: 1.54;
  color: var(--primary-color);
}
.header__btn {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  padding: 9px 20px 13px 20px;
  max-width: 155px;
  height: 42px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 14px;
  cursor: pointer;
}

.hero {
  padding: 40px;
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(18.78%, #000000), color-stop(98.53%, rgba(0, 0, 0, 0))), image-set(url("../images/hero/hero_@2x.webp") 2x, url("../images/hero/hero_@1x.webp") 1x, url("../images/hero/hero_@2x.jpg") 2x, url("../images/hero/hero_@1x.jpg") 1x);
  background-image: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), -webkit-image-set(url("../images/hero/hero_@2x.webp") 2x, url("../images/hero/hero_@1x.webp") 1x, url("../images/hero/hero_@2x.jpg") 2x, url("../images/hero/hero_@1x.jpg") 1x);
  background-image: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), image-set(url("../images/hero/hero_@2x.webp") 2x, url("../images/hero/hero_@1x.webp") 1x, url("../images/hero/hero_@2x.jpg") 2x, url("../images/hero/hero_@1x.jpg") 1x);
}
.hero__content {
  padding-top: 400px;
  text-align: center;
}
.hero__label {
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-text);
}
.hero__title {
  display: inline-block;
  margin-bottom: 18px;
  font-size: 54px;
  line-height: 1.1;
  color: var(--primary-color);
}
.hero__text {
  margin-bottom: 4px;
  max-width: 580px;
  margin: auto;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-text);
}
.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 16px;
}
.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery__content {
  padding: 120px 120px 100px 120px;
}
.gallery__title {
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 1.05;
  text-align: center;
  color: currentColor;
}
.gallery__text {
  margin-bottom: 42px;
  text-align: center;
  font-size: 23px;
  line-height: 1.3;
  color: var(--color-text);
}
.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.gallery__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 16px) / 2);
      flex-basis: calc((100% - 16px) / 2);
}
.gallery__content--image {
  position: absolute;
  bottom: 70px;
  left: 30px;
  max-width: 500px;
}
.gallery__label {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: currentColor;
}
.gallery__image--text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-text);
}

.sunset {
  padding: 40px;
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-image: -webkit-image-set(url("../images/sunset/sunset-1_@2x.webp") 2x, url("../images/sunset/sunset-1_@1x.webp") 1x, url("../images/sunset/sunset-1_@2x.jpg") 2x, url("../images/sunset/sunset-1_@1x.jpg") 1x);
  background-image: image-set(url("../images/sunset/sunset-1_@2x.webp") 2x, url("../images/sunset/sunset-1_@1x.webp") 1x, url("../images/sunset/sunset-1_@2x.jpg") 2x, url("../images/sunset/sunset-1_@1x.jpg") 1x);
}
.sunset__content {
  padding-top: 205px;
  padding-left: 1020px;
}
.sunset__title {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: currentColor;
}
.sunset__text {
  max-width: 300px;
  margin-bottom: 205px;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-text);
}
.sunset__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 16px;
}
.sunset__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grear__wrrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grear__content {
  padding: 113px 60px;
}
.grear__label {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-text);
}
.grear__title {
  margin-bottom: 14px;
  font-size: 28px;
  line-height: 1.14;
  color: currentColor;
}
.grear__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.43;
  color: currentColor;
}
.grear__next--content {
  background-color: var(--secondary-color);
  background-position: center;
  background-size: cover;
  background-image: -webkit-image-set(url("../../images/the-gear-cage/page-1_@2x.webp") 2x, url("../../images/the-gear-cage/page-1_@1x.webp") 1x, url("../../images/the-gear-cage/page-1_@2x.jpg") 2x, url("../../images/the-gear-cage/page-1_@1x.jpg") 1x);
  background-image: image-set(url("../../images/the-gear-cage/page-1_@2x.webp") 2x, url("../../images/the-gear-cage/page-1_@1x.webp") 1x, url("../../images/the-gear-cage/page-1_@2x.jpg") 2x, url("../../images/the-gear-cage/page-1_@1x.jpg") 1x);
}
.grear__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 16px;
  padding: 484px 40px 40px 400px;
}
.grear__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.monstera {
  padding: 40px;
  background-position: center;
  background-size: cover;
  background-image: -webkit-image-set(url("../../images/monstera-leafs/monstera-1_@2x.webp") 2x, url("../../images/monstera-leafs/monstera-1_@1x.webp") 1x, url("../../images/monstera-leafs/monstera-1_@2x.jpg") 2x, url("../../images/monstera-leafs/monstera-1_@2x.jpg") 1x);
  background-image: image-set(url("../../images/monstera-leafs/monstera-1_@2x.webp") 2x, url("../../images/monstera-leafs/monstera-1_@1x.webp") 1x, url("../../images/monstera-leafs/monstera-1_@2x.jpg") 2x, url("../../images/monstera-leafs/monstera-1_@2x.jpg") 1x);
}
.monstera__content {
  padding-top: 205px;
  padding-left: 1020px;
}
.monstera__title {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: currentColor;
}
.monstera__text {
  max-width: 273px;
  margin-bottom: 204px;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-text);
}
.monstera__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 16px;
}
.monstera__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.clients {
  padding-top: 120px;
  padding-bottom: 169px;
  text-align: center;
}
.clients__title {
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 1.05;
  color: currentColor;
}
.clients__text {
  margin-bottom: 109px;
  font-size: 24px;
  line-height: 1.25;
  color: var(--color-text);
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 109px;
}
.clients__item {
  -ms-flex-preferred-size: -67.2;
      flex-basis: -67.2;
}
.clients__icon {
  fill: currentColor;
}

.star {
  padding: 40px;
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-image: -webkit-image-set(url("../../images/star/star-1_@2x.webp") 2x, url("../../images/star/star-1_@1x.webp") 1x, url("../../images/star/star-1_@2x.jpg") 2x, url("../../images/star/star-1_@1x.jpg") 1x);
  background-image: image-set(url("../../images/star/star-1_@2x.webp") 2x, url("../../images/star/star-1_@1x.webp") 1x, url("../../images/star/star-1_@2x.jpg") 2x, url("../../images/star/star-1_@1x.jpg") 1x);
}
.star__content {
  padding-top: 205px;
  padding-left: 1020px;
  margin-bottom: 194px;
}
.star__title {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: currentColor;
}
.star__text {
  max-width: 241px;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-text);
}
.star__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 16px;
}
.star__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.videography {
  padding-top: 113px;
  padding-bottom: 108px;
  text-align: center;
}
.videography__title {
  max-width: 571px;
  margin: auto;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 1.05;
  color: currentColor;
}
.videography__text {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.25;
  color: var(--color-text);
}

.footer__logo--wrrap {
  display: inline-block;
  max-width: 458px;
  margin-right: auto;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: currentColor;
}
.footer__logo--icon {
  fill: currentColor;
}
.footer__text {
  font-size: 13px;
  line-height: 1.54;
  color: var(--color-text);
}

.footer-business {
  display: inline-block;
  width: 220px;
  margin-right: 16px;
}
.footer-business__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-text);
}
.footer-business__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer-business__link {
  font-size: 14px;
  line-height: 1.43;
  color: currentColor;
}

.footer-page {
  display: inline-block;
  width: 220px;
  margin-bottom: 36px;
}
.footer-page__title {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-text);
}
.footer-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer-page__link {
  font-size: 13px;
  line-height: 1.54;
  color: currentColor;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 36px;
  border-bottom: 2px solid currentColor;
}

.footer-subscribe {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 36px;
  width: 694px;
}
.footer-subscribe__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: currentColor;
}
.footer-subscribe__text {
  font-size: 13px;
  line-height: 1.54;
  color: var(--color-text);
}

.footer-subscribe__form {
  display: inline-block;
  position: relative;
}

.footer-subscribe__input {
  display: inline-block;
  width: 458px;
  height: 52px;
  padding: 11px 0px 11px 6px;
  background: var(--background-form);
  border: var(--border-form);
  border-radius: 12px;
}

.btn__form {
  position: absolute;
  top: 11px;
  right: 6px;
  padding: 0;
  border-radius: 11px;
  cursor: pointer;
  border: none;
}

.form__icon {
  fill: currentColor;
}

.footer-subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 56px;
  border-bottom: var(--border-form);
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-socials__text {
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-text);
}
.footer-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer-socials__link {
  color: var(--color-text);
}
.footer-socials__icon {
  fill: currentColor;
}

.socials--text__wrrap {
  margin-right: auto;
}

.footer {
  padding: 100px 116px;
}/*# sourceMappingURL=main.css.map */