.footer-subscribe {
    display: inline-block;

    margin-right: auto;
    margin-bottom: 36px;

    width: 694px;

    &__title {
        margin-bottom: 20px;

        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: currentColor;
    }

    &__text {
        font-size: 13px;
        line-height: 1.54;
        color: var(--color-text);
    }
}